<div class="container">

    <div class="row mt-4">
        <div class="col-md-12">
            <h5>Calendario de Actividades</h5>
        </div>
    </div>

    <div class="row">
        <!-- Form new activity  -->
        <div class="col-md-4">
        </div>
        <!-- Calendar -->
        <div class="col-md-8">
            <div id="calendario">
                <h1>{{ dateSelect | date:'MMMM, yyyy'}}</h1>
                <ol>
                    <li class="dayName" *ngFor="let day of week">{{ day | slice:0:3 }}</li>
    
                    <li [style.gridColumnStart]="first? day?.indexWeek : 'auto'" *ngFor="let day of monthSelect; let first = first">
                        <span>{{day?.value}}</span>
                    </li>
                </ol>
    
            </div> 

        </div>
    </div>
</div>